<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <webServices>
        <protocols>
          <add name="HttpSoap"/>
          <add name="HttpPost"/>
          <add name="HttpGet"/>
          <add name="Documentation"/>
        </protocols>
      </webServices>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSCYWZHSoap" />
                <binding name="ServiceMobileSoap" />
                <binding name="ServiceECommerceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceECommerceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://218.92.115.55/M_Lhgl/ServiceSCYWZH.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSCYWZHSoap"
                contract="ServiceSCYWZH.ServiceSCYWZHSoap" name="ServiceSCYWZHSoap" />
            <endpoint address="http://218.92.115.55/M_Platform/ServiceMobile.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceMobileSoap"
                contract="ServiceMobile.ServiceMobileSoap" name="ServiceMobileSoap" />
            <endpoint address="http://218.92.115.55/E-Commerce/ServiceECommerce.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceECommerceSoap"
                contract="ServiceECommerce.ServiceECommerceSoap" name="ServiceECommerceSoap" />
        </client>
    </system.serviceModel>
</configuration>
